.carbon-field .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 1px;
}

.carbon-field .input-group .group-addon {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    padding: 3px 8px 3px;
    border: 1px solid #ddd;
    border-right: 0;
    background-color: #f5f5f5;
    color: #666;
}

.carbon-field .input-group .group-addon .dashicons {
    font-size: 18px;
    height: auto;
    width: auto;
}

.carbon-field .input-group .regular-text {
    display: table-cell;
    margin: 0;
}
